<p>Choose the file to upload.</p>
<select id="file_type">
    <option value="json">Json</option>
    <option value="xml">Xml</option>
    <option value="xsl">Excel</option>
</select>
<select id="content_type">
    <option value="Patients">Patient</option>
    <option value="Prescription">Prescription</option>
</select>
<input type="file" name="pic" id="file-input" accept=".json, .xml">
<h3>Contents of the file:</h3>
<pre id="file-content"></pre>

<script type="text/javascript">
    function readSingleFile(e) {
        var file = e.target.files[0];
        if (!file) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (e) {
            var contents = e.target.result;
            displayContents(contents);
            var contentType = document.getElementById('content_type');
            var fileType = document.getElementById('file_type');
            var contentTypeStr = contentType.options[contentType.selectedIndex].value;
            var fileTypeStr = fileType.options[fileType.selectedIndex].value;
            if (fileTypeStr == "xsl")
                headerContentTypeStr = "multipart/form-data";
            else
                headerContentTypeStr = "application/".concat(fileTypeStr);
            var apiUrl = 'http://localhost:49715/api/'.concat(contentTypeStr, "/", fileTypeStr);
            $.ajax({
                url: apiUrl,
                contentType: headerContentTypeStr,
                type: 'put',
                success: function (data) {
                    alert("succeed!")
                },
                data: contents
            });
        };
        reader.readAsText(file);
    }
    function displayContents(contents) {
        var element = document.getElementById('file-content');
        element.innerHTML = contents;
    }

    document.getElementById('file-input').addEventListener('change', readSingleFile, false);
    
</script>
